<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
          <li><h1>Trabajo 1</h1> - 
          <h3>(years)</h3></li>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime quasi, autem quam veritatis cumque placeat asperiores officiis nulla deleniti excepturi non, accusamus eveniet harum eum sint nisi. Est, enim dolorem.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime quasi, autem quam veritatis cumque placeat asperiores officiis nulla deleniti excepturi non, accusamus eveniet harum eum sint nisi. Est, enim dolorem.</p>
          </ul>
          <ul>
            <li><h1>Trabajo 3</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime quasi, autem quam veritatis cumque placeat asperiores officiis nulla deleniti excepturi non, accusamus eveniet harum eum sint nisi. Est, enim dolorem.</p>
          </ul>
  
    </div>
  </div>
