.row{
    padding: 20px;
}
div{
    background-color: #66b1c2;
    text-align: center;
}
/*estilo foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
         width: 10%; 
         border-radius: 100%;
         box-shadow: 3px 3px 3px grey;
         left: 21%;
         top: 600px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
         width: 35%; 
         border-radius: 100%;
         box-shadow: 3px 3px 3px grey;
         left: 35%;
         top: 630px;
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 20%;
    margin-left: 15px;
}