<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4s">
   <circle-progress
      [percent]="92"
      [radius]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [title]="'HTML'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
   ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4s">
    <circle-progress
       [percent]="80"
       [radius]="100"
       [showUnits]="false"
       [showSubtitle]="false"
       [title]="'CSS'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4s">
    <circle-progress
       [percent]="70"
       [radius]="100"
       [showUnits]="false"
       [showSubtitle]="false"
       [title]="'JS'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4s">
    <circle-progress
       [percent]="90"
       [radius]="100"
       [showUnits]="false"
       [showSubtitle]="false"
       [title]="'GITHUB'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4s">
    <circle-progress
       [percent]="90"
       [radius]="100"
       [showUnits]="false"
       [showSubtitle]="false"
       [title]="'INGLES'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4s">
    <circle-progress
       [percent]="100"
       [radius]="100"
       [showUnits]="false"
       [showSubtitle]="false"
       [title]="'Comunicaciòn'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
   </div>
</div>